.random-animal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.animal-button {
  background-color: #191919;
  color: #fff;
  font-size: 36px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 24px;

  width: 400px;
}

.animal-placeholder {
  font-size: 24px;
}

.animal-image {
  width: 400px;
}
