.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: auto;

  background-color: white;
  outline: 10px solid rgb(255, 160, 160);
  outline-offset: -10px;
}
