.random-dog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dog-button {
  background-color: #191919;
  color: #fff;
  font-size: 36px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 24px;
  width: 400px;
  outline: none;
}

.dog-placeholder {
  font-size: 24px;
}

.dog-image {
  width: 400px;
}
